.App {
    display: block;
    margin: 10px 20px;
    width: 100%;
    height: 100%;
}

.buttons button {
    width: 70px;
    height: 30px;
    margin-right: 16px;
    margin-bottom: 5px;
    color: white;
    background: #5d5e64;
    border-radius: 5px;
    border: none;
    &:hover {
        transition: .3s;
        background: #7b7f83;
    }
    &:active {
        background: #101111;
    }
}

.blocks {
    display: block;

    .block {
        width: 50%;
        min-height: 30px;
        margin: 20px 0;
        padding: 15px;
        border-radius: 8px;
        border: 1px solid #a3a8ab;
        .header {
            font-weight: 700;
            cursor: pointer;
            &:hover {
                color: #9a9b9a
            }
        }
        input {
            width: 70%;
            height: 20px;
            border: 1px solid #c4cace;
            margin-top: 10px;
            margin-right: 16px;
            &:focus {
                outline: none;
                border: 1px solid #83beff;
            }
        }
        button {
            width: 15%;
            height: 25px;
            font-size: 15px;
            color: white;
            background: #83beff;
            border-radius: 5px;
            border: none;
            &:hover {
                background: #69adfa;
            }
            &:active {
                background: #037afd;
            }
        }
    }
}
